#homepage {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  #navigationbar {
    background-color: rgb(200, 243, 220);
    width:100%;
    height: 20%;
    padding-left: 60%;
    padding-right: 5%;
    font-size: larger;
  }
  
  #pageBody {
    align-content: space-evenly;
    background-color: #2196F3;
    background-color: white;
    width: 100%;
    height: 70%;
  }
  
  .categoryName {
    background-color: white;
    width: 150px;
    height: 200px;
    outline: solid black 1px;
  }

  .categoryItem{
    border-radius: 25px;
  }

  .categoryItemName {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .imageList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     gap: 4px;
  }

  .categoryImage {
    width: 150px;
     height: 100px;
     vertical-align:0%;
  }

  .content {
    max-width: 100%;
    width: 100%;
    height: 200px;
    background-color: transparent;
  }

  .contentTextDiv {
    display: flex;
  }

  .contentText {
    padding-left: 5%;;
  }

  .contentTitle{
    color: rgba(41, 41, 41, 1);
  }

  .contentSnippet {
    color: rgba(117, 117, 117, 1)
  }

  .content:hover {
    background-color: lightblue;
    color: white;
  }
